<nav class="navbar navbar-expand-lg navbar-light">
	<a href="#" class="navbar-brand">Orga<b>nicely</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a routerLink='/pages/home' class="nav-item nav-link">Inicio</a>
			<a href='/pages/home#sobrenosotros' class="nav-item nav-link">Sobre Nosotros</a>
			<a href='/pages/home#nuestroservicios' class="nav-item nav-link">Nuestros Servcios</a>
			<a href='/pages/home#contactanos' class="nav-item nav-link">Contáctanos</a>
		</div>

		<div class="navbar-nav ml-auto action-buttons">
			<div *ngIf="!checkSession()">
				<div class="navbar-nav ml-auto action-buttons">
					<a routerLink='/login' class="nav-link nav-item">Inicia Sesión</a>
					<a routerLink='/login/register' class="btn btn-primary dropdown-toggle sign-up-btn">Registrate</a>
				</div>
			</div>
			<div *ngIf="checkSession()">
				<div class="navbar-nav ml-auto action-buttons">
					<a routerLink='/pages/profile' class="nav-link nav-item">Perfil</a>
					<button [logout]="true" (click)="logOut()" class="btn btn-primary dropdown-toggle sign-up-btn">Logout</button>
				</div>
			</div>
		</div>
	</div>
</nav>