.blue {
    background-color: #586DE0;
    height: 100%;
}

h1 {
    color: white;
    padding-top: 10%;
    padding-bottom: 50px;
    font-size: 4rem;
}

.example-card {
    margin: 0 auto;
    padding: 20px;
}