body {
	font-family: 'Latto', sans-serif;
    background-color: #586DE0 !important;
    font-weight: bold;
}

.btn-banner {
    background-color: #A849A4;
    color: #FFF;
    border: none;
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
}

.banner {
    padding: 12rem;
}

.title {
    color: #FFF;
    font-size: 4.5rem;
    font-family: 'Lato', sans-serif;
}

.text {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.banner-text {
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(125%);
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    border-radius: 20px !important;
    width:  1000px;
    height: 450 px;
    background-color: rgba(255, 255, 255, .15);
}

.blue {
    background-color: #586DE0;
    height: 100%;
}

.pink {
    background-color: #EBCADF;
    height: 100%;
}

.container{
    display: flex;
}
    
.column {
    flex: 50%;
}

.size-img {
    width:100%; 
    height: auto;
}

section .glass {
    position: absolute;
    pointer-events: none;
    width: 500px;
    height: 500px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    transition: 0.5s ;


}

