<my-navbar></my-navbar>

<div class="blue">
    <div class="card card-image" style="background-image: url(../../../assets/homebanner.png);" alt="image">
        <div class="text-white text-center rgba-stylish-strong banner">
        <div class="py-5 banner-text">
            <h1 class="card-title h2 my-4 py-2 title">ORGANICELY.</h1>
            <p class="mb-4 pb-2 px-md-5 mx-md-5 text">Crea relaciones significativas con eventos y reuniones únicos.</p>
            <button routerLink='/login' class="mx-2 btn-banner"> Iniciar Sesión </button>
            <button routerLink='/login/register' class="btn-banner"> Registrarse </button>

        </div>
        </div>
    </div>
</div>

<div class="pink ">
    <div class="py-5 px-5">
        <h1 class="card-title h2 my-4 py-2 title">CREA TUS PROPIOS EVENTOS</h1>
    </div>

    <div class="container">
        <div class="column">A un sólo click puedes crear tus propios eventos. Nosotros nos encargamos de la gestión</div>
        <div class="column size-img"><img src="../../../assets/hand.png" alt="image"></div>
    </div>
</div>

