<app-navbar></app-navbar>

<div class="blue">

<div class="card card-image" style="background-image: url(../../../assets/homebanner.png);" alt="image">
    <div class="text-white text-center rgba-stylish-strong banner">
      <div class="py-5 banner-text">
        <h1 class="card-title h2 my-4 py-2 title">ORGANICELY</h1>
        <p class="mb-4 pb-2 px-md-5 mx-md-5 text">Crea relaciones significativas con eventos y reuniones únicos.</p>
        <button routerLink='/login' class="mx-2 btn-banner"> Iniciar Sesión </button>
        <button routerLink='/login' class="btn-banner"> Registrarse </button>

      </div>
    </div>
</div>

<div>
    <h1 class="card-title h2 my-4 py-2 title">Crea tus propios eventos</h1>
    <p> LOLS</p>
</div>

</div>