 
/*
Desktop: 1200px // col-xl 
Laptop: 1024px // col-lg
Tablet: 768px // md
Celular: 480px //ms 
*/

body {
	font-family: 'Lato', sans-serif;
    background-color: #586DE0 !important;
    font-weight: bold;
}

.btn-banner {
    font-family: 'Lato', sans-serif !important;
    background-color: #A849A4;
    color: #FFF;
    border: none;
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
}

.banner {
    padding: 12rem;
}

.title {
    color: #FFF;
    font-size: 4.5rem;
    font-family: 'Lato', sans-serif !important;
    @media (max-width: 1024px) 
    {
    font-size: 45px;
        }
    @media (max-width: 768px) 
    {
    font-size: 45px;
        }
    @media (max-width: 480px) 
    {
    font-size: 35px;
        }
}

.text {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif !important;
    @media (max-width: 1024px) {
    font-size: 20px;
        
    }
}

.banner-text {
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(125%);
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    border-radius: 20px !important;
    width:  1000px;
    height: 450 px;
    background-color: rgba(255, 255, 255, .15);
    @media (max-width: 1024px){
    width:  800px;
    height: 450px;    
    } 
    @media (max-width: 768px){
    font-size: 20px;
    width:  450px;
    height: 350px; 
    }
    @media (max-width: 480px){
        font-size: 20px;
        width:  500px;
        height: 350px; 
        }
}

.blue {
    background-color: #586DE0;
}

.pink {
    background-color: #EBCADF;
    height: 900px;
    @media (max-width: 1024px) {
        height: 900px;
        font-size: 15px;
    }
    @media (max-width: 768px){
        height: 1000px;
        font-size: 15px; 
    }
}

.container{
    display: flex;
}
    
.column {
    flex: 50%;

}

.column2{
    float: left;
  width: 33.33%;
  text-align: center;
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
}

.row2:after{
    content: "";
  display: table;
  clear: both;
}
.size-img {
    width:100%; 
    height: auto;
    @media (max-width: 480px){
        width: 400px; 
        height: auto; 
        }
}

section .glass {
    position: absolute;
    pointer-events: none;
    width: 500px;
    height: 500px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    transition: 0.5s ;


}

