<my-navbar></my-navbar>

<div class="blue">
    <div class="card card-image" style="background-image: url(../../../assets/homebanner.png)"  alt="image">
        <div class="text-white text-center rgba-stylish-strong banner">
        <div class="py-5 banner-text">
            <h1 class="card-title h2 my-4 py-2 title">ORGANICELY.</h1>
            <h5 style="color: white;">Crea relaciones significativas con eventos y reuniones únicos. <br> <br> Organiza de manera lovely. <br> <br> Organiza nicely. <br><br></h5>
            <button routerLink='/login' class="mx-2 btn-banner"> Iniciar Sesión </button>
            <button routerLink='/login/register' class="btn-banner"> Registrarse </button>

        </div>
        </div>
    </div>
</div>

<div class="pink ">
    <div class="py-5 px-5">
        <h1 class="card-title h2 my-4 py-2 title" style="padding-left:60px;">CREA TUS PROPIOS <br>EVENTOS</h1>
    </div>

    <div class="container">
        <h3 style="color:white">A un sólo click puedes crear tus<br> propios eventos.<br> Nosotros nos encargamos de la gestión</h3>
       
        <div class="column size-img" style="padding-left: 200px;"><img src="../../../assets/400.png" alt="image"></div>
        
        
    </div>

    
    <div class="blue" >
        <div class="card card-image"style="background-color: #586DE0;" alt="image">
            <div class="text-white text-center rgba-stylish-strong banner">
            <div class="py-5 banner-text">
                <h3 class="card-title h2 my-4 py-2 title">¡Integra con tus favoritos!</h3>
            <div class="column size-img"><img src="../../../assets/transpoti.png" alt="image"></div>
            <h5 style="color:white;"><a href="">Saber más</a></h5>
     
            </div>
            </div>
          
        </div>
    </div> 

    <div id="top">
        <div class="card card-image">
            <div class="column size-img"><img src="../../../assets/CON3.png" width=100% height="800px" alt="image"></div>
            
        </div>
    </div>
    
    <footer style="background-color: #2C3B90; text-align: center;">
        <p style="color: white;">Copyright Ⓒ 2021 OVERCODE. All rights deserved</p>
    </footer>

</div>



