body {
	font-family: 'Latto', sans-serif;
    background-color: #586DE0 !important;
}

.btn-banner {
    background-color: #A849A4;
    color: #FFF;
    border: none;
    padding: 8px 20px;
    border-radius: .25rem;
    font-size: 1.1rem;
}

.banner {
    padding: 12rem;
}

.title {
    color: #FFF;
    font-size: 4.5rem;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Lato', sans-serif;
}

.text {
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Lato', sans-serif;
}

.banner-text {
    backdrop-filter: blur(3px) saturate(100%) contrast(45%) brightness(125%);
}

.blue {
    background-color: #586DE0;
    height: 100%;
}
