<mat-card class="example-card" style="margin-right: 20px;">
    <img mat-card-image src="{{ urlImage }}" alt="Event Image" height="300" width="auto">
    <mat-card-content>
      <h3><strong> {{ nombre }} </strong></h3>
      <p> <strong> Horario: </strong> {{ horario }}</p>
      <p> <strong> Descripción: </strong> {{ descripcion }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button (click)="masInfoNavigate()" class="btn btn-light">Más información</a>
    </mat-card-actions>
  </mat-card>