<my-navbar></my-navbar>
<div *ngIf="checkSession()">
    <div style=" background-color: #586DE0;">
        <h1 class="text-center"> Crea un <strong> evento </strong> </h1>

        <mat-card class="example-card" style="width:900px;">
            <mat-card-header style="padding-left: 180px">
            </mat-card-header>

            <mat-card-content>
                <form #form="ngForm" style="display: flex; flex-direction: column;">
                    <mat-form-field>
                        <mat-label>Nombre del Evento:</mat-label>
                        <input matInput
                        type="text"
                        name="name"
                        ngModel
                        #nameUI="ngModel"
                        required>
                    </mat-form-field>

                    <div *ngIf="nameUI.invalid && (nameUI.touched || nameUI.dirty)"
                        class="alert alert-danger">
                        <div *ngIf="nameUI?.errors?.required">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de reunión</mat-label>
                        <mat-select [(value)]="selected" required>
                          <mat-option value="1">Instantanea</mat-option>
                          <mat-option value="2">Programada</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="selected == '2'">

                        <mat-form-field>
                            <mat-label>Fecha de inicio:</mat-label>
                            <input matInput
                            type="text"
                            name="type "
                            value="fdi"
                            ngModel
                            #fdiUI="ngModel"
                            checked placeholder="2020-03-31" required>
                        </mat-form-field>

                        <p> Porfavor, siga el formato indicado en el placeholder: YYYY-MM-DD </p>

                        <mat-form-field>
                            <mat-label>Hora de inicio:</mat-label>
                            <input matInput
                            type="text"
                            name="type "
                            value="hdi"
                            ngModel
                            #hdiUI="ngModel"
                            checked placeholder="12:02:00" required>
                        </mat-form-field>

                        <p> Porfavor, siga el formato indicado en el placeholder: HH:MM:SS </p>

                    </div>

                    <mat-form-field>
                        <mat-label>Password:</mat-label>
                        <input matInput
                        type="password"
                        name="password"
                        ngModel
                        #passwordUI="ngModel">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Agenda:</mat-label>
                        <input matInput
                        type="agenda"
                        name="agenda"
                        ngModel
                        #agendaUI="ngModel">
                    </mat-form-field>
                </form>
            </mat-card-content>

            <mat-card-actions style="text-align:center">
                <button mat-button [disabled]="form.invalid" (click)="onCreateEvent(form)">Crear Evento</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div *ngIf="!checkSession()">
    <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto py-4">
        <h4  class="font-weight-bold my-4">Porfavor inicia sesión o registrate para poder crear eventos</h4>
    </div>
</div>
