<my-navbar></my-navbar>
<div *ngIf="checkSession()">
    <div style=" background-color: #586DE0;">
        <h1 class="text-center"> Crea un <strong> evento </strong> </h1>

        <mat-card class="example-card" style="width:900px;">
            <mat-card-header style="padding-left: 180px">
            </mat-card-header>

            <mat-card-content>
                <form #form="ngForm" style="display: flex; flex-direction: column;">
                    <mat-form-field>
                        <mat-label>Nombre del Evento:</mat-label>
                        <input matInput
                        type="text"
                        name="name"
                        ngModel
                        #nameUI="ngModel"
                        required>
                    </mat-form-field>

                    <div *ngIf="nameUI.invalid && (nameUI.touched || nameUI.dirty)"
                        class="alert alert-danger">
                        <div *ngIf="nameUI?.errors?.required">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <mat-form-field>
                        <mat-label>Descripcion del Evento:</mat-label>
                        <input matInput
                        type="text"
                        name="description"
                        ngModel
                        #descriptionUI="ngModel"
                        required>
                    </mat-form-field>

                    <div *ngIf="descriptionUI.invalid && (descriptionUI.touched || descriptionUI.dirty)"
                        class="alert alert-danger">
                        <div *ngIf="descriptionUI?.errors?.required">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <mat-form-field>
                        <mat-label>Tipo de Reunión:</mat-label>
                        <input matInput
                        type="text"
                        name="type "
                        value="zoom"
                        ngModel
                        #platformUI="ngModel"
                        checked required>
                    </mat-form-field>

                    <div *ngIf="platformUI.invalid && (platformUI.touched || platformUI.dirty)"
                        class="alert alert-danger">
                        <div *ngIf="platformUI?.errors?.required">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <h3> Datos sobre la reunión en Zoom </h3>

                    <mat-form-field>
                        <mat-label>URL del evento:</mat-label>
                        <input matInput
                        type="text"
                        name="event_url"
                        ngModel
                        #event_urlUI="ngModel"
                        required>
                    </mat-form-field>

                    <div *ngIf="event_urlUI.invalid && (event_urlUI.touched || event_urlUI.dirty)"
                        class="alert alert-danger">
                        <div *ngIf="event_urlUI?.errors?.required">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <mat-form-field>
                        <mat-label>ID del evento:</mat-label>
                        <input matInput type="text" name="event_id" ngModel #event_idUI="ngModel">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Contraseña del evento: </mat-label>
                        <input matInput type="password" name="password" ngModel #passwordUI="ngModel">
                    </mat-form-field>


                </form>
            </mat-card-content>

            <mat-card-actions style="text-align:center">
                <button mat-button [disabled]="form.invalid" (click)="onCreateEvent(form)">Crear Evento</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div *ngIf="!checkSession()">
    <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto py-4">
        <h4  class="font-weight-bold my-4">Por favor, inicia sesión o registrate para poder crear eventos</h4>
    </div>
</div>
