<my-navbar></my-navbar>

<div *ngIf="checkSession()">
  <div class="body">
    <div class="container">
        <div class="text-center py-5">
          <img src="{{imageUrl}}" alt class="ui-w-100 rounded-circle">

          <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
            <h4  class="font-weight-bold my-4">{{nombre}} {{apellido}}</h4>

            <div class="text-muted mb-4">
              {{bio}}
            </div>
          </div>
        </div>
    </div>

    <div class="eventos px-5 ">
      <div class="space">
        <h2> Mis Eventos</h2>
        <a routerLink="/pages/crevent" type="button" class="btn btn-dark mx-2"> + Nuevo Evento </a>
        <a routerLink="/pages/creventzoom" type="button" class="btn btn-dark"> + Nuevo Evento en Zoom </a>
        <a href="https://zoom.us/oauth/authorize?response_type=code&client_id=jN8GttxJRnOlIGnVsDyy0Q&redirect_uri=https://organicely.web.app/pages/profile" type="button2" class="btn btn-dark" style="margin-left: 12px; padding-left: 30px; background-color:#2d8cff; background-image: url(../../../assets/zoom.png);  background-repeat: no-repeat" >  Añadir a Zoom</a>
      </div>

      <div *ngIf="showSpinner">
        <app-loading-spinner> </app-loading-spinner>
      </div>
      <div *ngIf="!showSpinner">
        <div *ngIf="eventsByUser.length > 0">
          <mat-grid-list cols="3" rowHeight="500px">
            <div *ngFor="let event of eventsByUser">
              <mat-grid-tile><app-card nombre={{event.name}} horario={{event.date_time}}
              descripcion={{event.description}} urlInfo={{event.event_url}} urlImage={{event.image_url}} masInfoUrl={{event.id}}></app-card></mat-grid-tile>
            </div>
          </mat-grid-list>
        </div>
        <div *ngIf="eventsByUser.length == 0">
          <p> No tienes eventos creados. </p>
        </div>
      </div>
    </div>

    <div class="px-5 py-5">
      <div class="space">
        <h2> Eventos en zoom </h2>
      </div>
      <!--<mat-grid-list cols="3" rowHeight="500px">
        <div *ngFor="let event of pastevents">
          <app-card style="flex: 1 1 auto;" nombre={{event.nombre}} horario={{event.horario}}
          descripcion={{event.description}} urlInfo={{event.event_url}} urlImage={{event.image_url}}></app-card>
        </div>
      </mat-grid-list>-->
    </div>
  </div>
  <div class="px-5 py-5">
    <div class="space">
      <h2> Estadisticas de eventos manejados por Organicely </h2>
    </div>
    <div id="chart" *ngIf="chartOptions.series && chartOptions.chart && chartOptions.xaxis && chartOptions.dataLabels && chartOptions.grid && chartOptions.stroke && chartOptions.title">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>

<div *ngIf="!checkSession()">
  <div class="body">
    <div class="container">
        <div class="text-center py-5">
          <img src="../../../assets/usuariox.png" alt class="ui-w-100 rounded-circle">

          <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
            <h4  class="font-weight-bold my-4">Unete a Organicely!</h4>
          </div>
        </div>
    </div>
  </div>
</div>
