<div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #form="ngForm">
    <input type="text" id="email" #email="ngModel" name="email" placeholder="Email *" class="form-control" ngModel required>
      
    <div *ngIf="email && email.invalid && (email.touched || email.dirty)" class="alert alert-danger">
        <div *ngIf="email && email?.errors?.required">
            Email is required
        </div>
    </div>

    <input type="password" #password="ngModel" id="password" class="form-control" name="password" placeholder="password" ngModel required>
    
    <div *ngIf="password && password.invalid && (password.touched || password.dirty)" class="alert alert-danger">
        <div *ngIf="password && password?.errors?.required">
            Password is required
        </div>
    </div>     
      <button [disabled]="form.invalid" (click)="onLogin(form)"> Sign-in </button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>