<mat-card class="example-card" style="width:900px">
    <mat-card-header style="padding-left: 180px">
        <mat-card-title>Nuevo Evento</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form #form="ngForm" style="display: flex; flex-direction: column;">
            <mat-form-field>
                <mat-label>Nombre del Evento:</mat-label>
                <input matInput type="text" name="name" ngModel #nameUI="ngModel" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripcion del Evento:</mat-label>
                <input matInput type="text" name="description" ngModel #descriptionUI="ngModel" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo de Reunión:</mat-label>
                <input matInput type="text" name="platform" value="zoom" ngModel #platformUI="ngModel" checked required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>URL del evento:</mat-label>
                <input matInput type="text" name="event_url" ngModel #event_urlUI="ngModel" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>ID del evento:</mat-label>
                <input matInput type="text" name="event_id" ngModel #event_idUI="ngModel">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contraseña:</mat-label>
                <input matInput type="password" name="password" ngModel #passwordUI="ngModel">
            </mat-form-field>

            <mat-form-field appearance="fill">
				<mat-label>Fecha</mat-label>
				<input matInput [matDatepicker]="picker" name="date" > <!--(dateChange)="onDateChange($event)"-->
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
	        </mat-form-field>

			<mat-label>Hora</mat-label>
        	
            <div class="ngx-material-timepicker-example__form-group">
                <input placeholder="Default time 11:11 pm" aria-label="default time"
                    [ngxTimepicker]="defaultTime">
                <ngx-material-timepicker #defaultTime [defaultTime]="'11:11 pm'" (timeSet)="timeData($event)"></ngx-material-timepicker>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions style="text-align:center">
        <button mat-button (click)="onCreateEvent(form)">Crear Evento</button>
    </mat-card-actions>
</mat-card>
