

.blue {
    background-color: #586DE0;
    height:130%;
    width:100%;
    position: absolute;
}

.example-card{
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(125%);
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    border-radius: 20px !important;
    width:  1000px;
    height: 450 px;
    background-color: rgba(255, 255, 255, .15);
    margin: 0 auto;
}

h1 {
    color: white;
    padding-top: 2%;
    padding-bottom: 50px;
    font-size: 4rem;
}

h3 {
    color: white;
    padding-top: 20px;
}

