/*ANGULAR MATERIAL BARATO*/

$primary: #464646;
$secondary: #464646;
$white: #464646;
$gray: #464646;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/*ANGULAR MATERIAL BARATO END*/

.blue {
    background-color: #586DE0;
    height:130%;
    width:100%;
    position: absolute;
}

.example-card{
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(125%);
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    border-radius: 20px !important;
    width:  1000px;
    height: 450 px;
    background-color: rgba(255, 255, 255, .15);
    margin: 0 auto;
<<<<<<< HEAD
=======
}

h1 {
    color: white;
    padding-top: 2%;
    padding-bottom: 50px;
    font-size: 4rem;
}

h3 {
    color: white;
    padding-top: 20px;
}
>>>>>>> origin/main

